* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.header {
  padding: 38px 0 32px 0;
  width: 1100px;
}
.logo {
  font-family: roboto1;
  color: #515151;
  line-height: 32px;
  font-size: 30px;
  text-transform: uppercase;
  float: left;
  font-weight: 300;
}
.navigation_list {
  margin: 0px;
  float: right;
}
.navigation li {
  float: left;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 14px;
  font-family: open sans;
  margin-right: 30px;
  line-height: 32px;
  font-weight: 700;
}
.navigation li:last-child {
  margin-right: 0px;
}
.header-a{color: black;}
.navigation a:hover,
.navigation a:focus {
  color: #1abc9c;
}
.logo:hover,
.logo:focus {
  color: #1abc9c;
}
main{
  background-color: #e9f0fd;
}

.slide{
  position: relative;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 0;
  padding-bottom: 100px;
}
.slide::before{position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background-color: rgba(0, 0, 2, 0.52);
  z-index: 1;
  height: 600px;
}

.slider-title{
  position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  width: 770px;
  z-index: 2;
}

.slider-span{
  font-size: 24px;
  font-weight: 300;
  top: 350px;
  text-align: center;
}

.slider-ctrl{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 104px;
  height: 104px;
  background-color: rgba(78, 198, 172, 0.651);
  border: none;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  z-index: 2;
}

.slider-ctrl:hover{
  background-color: rgb(26, 188, 156);
}

.slider-button-first{
  left: 10%;
  background-image: url(../goit-fe-course-module5/images5/icon/first.png);
}
.slider-button-second{
  right: 10%;
  background-image: url(../goit-fe-course-module5/images5/icon/second.png);
}
.h2_product {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto";
  font-weight: 900;
  color: #515151;
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;}
.h2_product::after {
  display: block;
  content: "";
  margin: 24px auto 98px;
  width: 166px;
  height: 7px;
  background-color: #19bb9b;
}
.collection{
  width: 1110px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.collection-h2{
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: rgba(81, 81, 81, 255);
  text-align: center;
  margin-bottom: 80px;
}

.collection-h2::after{
  content: '';
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 32px auto 0;
}
.collection-ul{
  list-style: none;
}

.collection-li{
  width: 255px;
  float: left;
  font-size: 0;
}

.collection-a{
  position: relative;
}

.overlay-collection{
  position: absolute;
  width: 48px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: Transparent;
  cursor: pointer;
}

.wish{
  top: 80px;
  left: 36px;
  background-image: url(../goit-fe-course-module5/images5/icon/wish.png);
}

.wish:hover,
.arrow:hover,
.clock:hover{
  background-color: #1abc9c;
  border: none;
}

.arrow{
  top: 80px;
  left: 94px;
  background-image: url(../goit-fe-course-module5/images5/icon/arrow.png);
}

.clock{
  top: 80px;
  left: 152px;
  background-image: url(../goit-fe-course-module5/images5/icon/clock.png);
}

.basket{
  top: 136px;
  left: 36px;
  background-image: url(../goit-fe-course-module5/images5/icon/busket.png);
  width: 164px;
  height: 48px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 255);
  text-align: right;
  text-transform: uppercase;
  padding-right: 16px;
  background-position: 12px 8px;
}

.basket:hover{
  background-color: #323232;
}

.collection-a:hover .overlay{
  width: 255px;
  height: 322px;
  border: 10px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
}

.collection-a:hover .collection-p-text{
  background-color: #1abc9c;
}

.collection-a:hover .collection-p-price{
  background-color: #7fd9c7;
}

.collection-li:not(:nth-child(4n)){
  margin-right: 30px;
}
.collection-li p{
  font-size: 18px;
  color: rgba(255, 255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.collection-p-text{
  float: left;
  width: 201px;
  height: 40px;
  background-color: #323232;
  text-transform: uppercase;
  padding: 9px 0 0 9px;
}

.collection-p-price{
  width: 54px;
  height: 40px;
  float: right;
  background-color: #8c8c8c;
  text-align: center;
  padding-top: 9px;
}
.footer{
  height: 90px;
  background-color: #323232;
  text-align: center;
  color: rgba(254, 254, 254, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-top: 38px;
}

.footer-a{
  color: #46bfa9;
  text-decoration: none;
}


 
 
 
 
 
 

